<html>
    <body>
        <a href="{% url "pagina-lista" %}">Pagina Lista</a>
        <a href="{% url "pg_produtos" %}"> Produto </a>
       
       
   
        <h3>
            Formulário de Produtos 
        <h3>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ formulario.as_p }}
            <button type="submit"> Salvar </button>
            <button type="reset" onclick="resetForm()"> Cancelar </button>
        </form>

       

    </body>

</html>