body{
    background-color: #5f7C8A;
}

p{
    color: yellow;
}

nav{
    background-color:blue ;
    height: 30px;
    width: 40px;
}

body{
    background-repeat: "no-repeat";
    background-image: url("");
}