{% load static %}
<html>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <body>
   
        <h3> lista de Produtos </h3>
        <a href="{% url "pagina_inicial" %}"> Cadastrar Produtos</a>
        
        <div class="lista-card">
            <ul>
                {% for produto in produtos %}
                    <div class="card">
                        <img src="{{produto.foto.url}}" width ="250" height="300">  
                        <p>{{produto.nome_produto}} - {{produto.valor_produto}}</p>
                            <a href="{% url "detalhes_produto" produto.id %}">Ver produto</a>
                            <a href="{% url "pg-editar-produto" produto.id %}">  editar </a>
                            <a href="{% url "conf_excluir_produto" produto.id %}"> Excluir </a>
                    </div>
                    
                {% endfor %}
            </ul>
        </div>
    </body>
</html>