body{

background-color: #214dfd;
color:brown ;
font: normal 16px Arial, sans-serif;
text-align: center;
}

header{
    color: rgb(116, 48, 48);
    text-align: center;
}

section{
    background-color: rgb(223, 221, 221);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.196);
    
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}
.function{
    background-color: azure;
    background-color: bisque;
    background-color: brown;
}

