


body {
    background-color: #333; /* Você pode usar qualquer cor aqui, como nome de cor, código hexadecimal, RGB, etc. */

}

.container{
  

 
    border-radius: 15px 15px 15px 15px;
    
    background-color: #fff;
}