{% load static %}
<html>
    <body>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <div class="lista-card">
            
            <a href="{% url "cadastra-categoria" %}"><button> mais Categorias </button></a>
            <a href="{% url "cadastra-produto"%}"> <button> mais produtos </button></a>
            <a href="{% url "pagina-inicial" %}"> <button> Pagina Inicial <button></a>
            <a href="{% url 'conf_excluir_produto' produto.id %}"><button> Excluir produto </button></a>
            <a href="{% url 'pg_editar_produto' produto.id %}"><button> Editar produto </button></a>
        </div>
            <h3>
                Detalhes do Produto
        </h3>
            <div class="lista-card">
                <div class="card">
                    <img src="{{produto.foto.url}}" width="auto" height="250">
                    <p>
                        {{ produto.nome_produto}} - R$ {{ produto.valor_produto}}
                    </p>
                    <p>{{ produto.informacao}}</p>
                </div>
                
            </div>
        

    </body>

</html>