{% load static %}
<html>
    <body>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <div class="lista-card">
            
            <button><a href="{% url "cadastra-categoria" %}"> mais Categorias </a></button>
            <button><a href="{% url "cadastra-produto"%}"> mais produtos </a></button>
            <button><a href="{% url "pagina-inicial" %}"> Pagina Inicial </a><button>
            <button><a href="{% url 'conf_excluir_produto' produto.id %}">Excluir produto</a></button>
            <button><a href="{% url 'pg_editar_produto' produto.id %}">Editar produto</a></button>
        </div>
            <h3>
                Detalhes do Produto
        </h3>
            <div class="lista-card">
                <div class="card">
                    <img src="{{produto.foto.url}}" width="auto" height="250">
                    <p>
                        {{ produto.nome_produto}} - R$ {{ produto.valor_produto}}
                    </p>
                    <p>{{ produto.informacao}}</p>
                </div>
                
            </div>
        

    </body>

</html>