<html>
    <body>
        <a href="{% url "cadastra-categoria" %}"> Formulario de Categorias </a>
        <a href="{% url "pagina-inicial" %}"> Pagina Inicial </a>
        <h3> Formulário de Produtos </h3>
        <form method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            {{ formulario.as_p }}
            <button type="submit"> Salvar </button>
            <button type="reset" onclick="resetForm()"> Cancelar </button>
        </form>

       

    </body>

<html>
    

