{% load static %}
<html>

    <body>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <h3> Pagina Inicial </h3>
        <button><a href="{% url "cadastra-produto"%}"> mais produtos </a></button>
        <button><a href="{% url "cadastra-categoria" %}"> mais categorias </a></button>

        <h3>
            Lista de Produtos 
        </h3>

        <div class="lista-card">
            {% for produto in produtos %}
                <a href="{% url 'detalhes_produto' produto.id %}">
                    <div class="card">
                        <img class="foto_capa" src="{{produto.foto.url}}" height="250" widht="auto">
                        <p class="texto">
                            {{ produto.nome_produto }} - R$ {{produto.valor_produto}}
                        </p>
                        <p>
                            <button class="red"><a href="{% url 'conf_excluir_produto' produto.id %}">Excluir produto</a></button>
                            <button class="red"><a href="{% url 'pg_editar_produto' produto.id %}">Editar produto</a></button>
 
                        </p>
                    </div>
                </a>
            {% endfor%}
        </div>
       

    </body>

</html>