{% load static %}
<html>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <body>
        <a href="{% url 'pagina_index' %}">Página inicial</a>
        <p>
            Esta é a página de Produto
        </p>
        <ul>
            {% for produto in produtos %}
                <div class="lista-card">
                    <p>
                    {{produto.nome_produto}} - {{produto.valor_produto}}
                    <img src="{{produto.foto.url}}" height="100" width="100">
                    </p>
                </div>
            {% endfor %}
        </ul>

	
    </body>
</html>