{% extends "base.html" %}
{% load static %}
{% block titulo %}
<!DOCTYPE html>

        <script> </script>
        <h2>Confirmar exclusão</h2>

        <p>Você confirma a exclusão de: {{ valor }} ?</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit">Confirmar</button>
            <a href="#" onclick="window.history.back()">
                <button type="button">Cancelar</button>
            </a>
           
        </form>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </body>
</html>