{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "style-formularios.css" %}">
        <script src="{% static 'js/validacoes.js' %}"></script>
        <title>Municipio do RN</title>
    </head>

    <body>
        <section class="container">
            <nav>
                <ul class="nav">
                <li class="nav-item"><h1>Municipio do Rio Grande do Norte- IBGE</h1></li>
            </ul>
        </section>

        <div class="container">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">MUNICIPIO</th>
                        <th scope="col">MICROOREGIÂO</th>
                        <th scope="col">MESORREGIÃO</th>
                    </th>
                </thead>

                <tbody>
                    {% for municipio in municipios %}
                    <tr> 
                        <th scope="row">{{municipio.id}}</th>
                        <td>{{municipio.nome}}</td>
                        <td>{{municipio.microrregiao.nome}}</td>
                        <td>{{municipio.microrregiao.mesorregiao.nome}}<td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>

        </div>


        
    </body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</html>