{% extends "base.html" %}
{% load static %}
{% block titulo %}
       
        <script src="{% static 'js/validacoes.js' %}"></script>
        <title>Elabore Ordens de Serviços</title>
        <h2>Elabore Ordens de Serviços</h2>
{% endblock%}

{% block conteudo %}

        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="{% url "pg_criar_ordemservico" %}">Ordem de Serviço</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url "pg_criar_cliente" %}">Cliente</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url "pg_criar_empresa" %}">Empresa</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url "pg_criar_servico" %}">Serviço</a>
            </li>

            <li class="nav-item">
                <a class="nav-link  " href="{% url "pg_criar_produto" %}">Produto</a>
            </li>
            
            

            <li class="nav-item">
                <a class="nav-link disabled " href="{% url "pg_criar_categoria" %}">Categoria</a>
            </li>
        </ul>
        
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock%}