<html>
    <body>
        <h3>Formulário de Produtos <h3>

        <form method="post">
            {% csrf_token %}
            {{formulario.as_p }}
            <button type="submit"> Salvar</button>
            <button type="reset" onclick="resetForm()"> Cancelar </button>
        </form>

        <h3>
            Lista de Produtos
        </h3>

        <ul>
            {% for produto in produtos %}
                <li>{{produto.nome_produto }} - {{produto.valor_produto}}</li>
            {% endfor %}
        </ul>

    </body>

</html>
    