nav{
    background: blueviolet;
    padding: 10px;
    color:white;
    display: flex;
    
    align-items: center;
    flex-wrap: wrap;
    
}

.sigla{
    color: blue;
    font-size: 30px;
    margin: 10px;
}

.nome{
    color: rgb(0, 255, 47);
    font-size: 30px;
    margin: 10px;
}

.logo{
    color: red;
    font-size: 30px;
    margin: 10px;
}

.grupo-cards{
  
    width: 325px;
   flex-direction: column;
   align-items: center;
   padding: 10px;
   
    display: flex;
}

.textos{
    border-radius: 5px;
    border: 1px solid#2430db;
}

.cards{
    border: 1px solid #333;
    width: 350px;
    padding: 10px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow:3px 3px 4px rgb(177, 176, 176) ;
    cursor: pointer;
    background-color: #fff;
  
    
}



.list-cards{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 15px;
    padding: 10px;
   
    
}

.valores{
    background-color:rgb(177, 247, 13);
    border-radius: 15px;
    padding: 6px;
}

.valorComDesconto{
    font-size: large;
    font-weight: bold;
    margin: 5px;
}

.valorSemDesconto{
  font-size: 20px;
  color: red;
  text-decoration: line-through;
  margin-top: -2px;  
}

.cardImg{
   display: flex;
   flex-direction: column;
   border: 1px solid #333;
   background-color: #fff;
   border-radius: 15px;
   width: fit-content;
   padding: 9px;
   align-items: center;
   margin: 15px;


}

.imagens{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:fit-content;
    margin: 20px;
    border:1px solid #333;
    border-radius: 15px;
    padding: 10px;
}

.mini-img{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.miniatura{
    display: flex;
    flex-direction: column;
    align-items: center;
}


body{
    background-color: #fafafa;
    display: flex;

    height: 100vh;
    margin: 0;
    transition: background 0.2s linear;
}

body.dark{
    background: #232c35;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform:translateX(24px) ;
}

.fa-moon{
    color: #f1c40f;
}

.fa-sun{
    color: #f39c12;
}

.chkt{
    margin: 10px;
    border: 1px solid #333;
    padding: 15px;
}

.marca{
    margin: 15px;
    border: 1px solid #333;
}

button{
    width: fit-content;
}

.cont{
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  margin-left: 150px;
}




.cardt{
    display: flex;
    flex-direction: column;

    flex-wrap: wrap;
    border: 1px solid;
    box-shadow: 4px 4px 5px;
    padding: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    background-color: #fff;
    width: 350px;
    height: 300px;
   

}

.navt{
    margin: 10px;
}

.bot{
    width:40px;
    height: 27px;
    margin: 15px;
}

.cardts{
    border: 1px solid #333;
    align-items: center;
    flex-direction: column;
    display: flex;
    margin: 10px;
   
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
 
}

.nav-bar{
    width: 100%;
    height: 100%;
    margin: 10px;
}

.geral{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}   

@keyframes animacao{
    0% {background-color: purple;width: 100%;}
    50%{background-color: yellow;width: 100%;}
    100%{background-color: red;width: 200px;}
}

.container{
    width: 190px;
    height: 100px;
    background-color: purple;
    animation-name:animacao ;
    animation-duration: 6s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    padding: 10px;
    margin: 20px;
}

footer{
    width: 100%;
    height: 100%;
    background-color: blueviolet;
    margin: 10px;
}

.list-cards{
    margin: 10px;
}

.lists-nav{
    width: 100%;
}

.listy-nav{
    margin: 10px;
    padding: 10px;
}

.carrossel{
    position: static;
    width: 500px;
    margin: auto;
    align-items: center;
    background-color: #f1670b;
    
    
}

.slides{
    width: 440px;
    height: 300px;
    position: fixed;
    margin: 0px 30px 0px 30px;

    border-radius: 15px;
    position: static;

}

.slide{
    margin: auto;
    
}

.button{
    width: 500px;
    display: flex;
    justify-content: space-between;
    height: 300px;
    align-items: center;
    margin-top: -280px
    
}

.button button{
    background: rgb(0,0,0,0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 50;
}

.listpro{
    display: flex;
    align-items: center;

}

.produto{
    display: flex;
    align-items: center;
    border: 1px solid #333;
    background-color: #fff;
    border-radius: 15px;
    flex-direction: column;
    height: 630px;
    width: 680px;
    margin: 10px;
    
}

.buttons{
    display: flex;
   
    justify-content: space-around;
}

.contador{
    border: 1px solid #333;
    padding: 5px;
    margin: 5px;
    margin-top: -2px;
}

.but{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.textos1{
   margin: 0px;
   text-align: center;
}

.valor{
    display:flex;
    flex-direction: row;
}

.texto2{
    margin: 5px;
}

.black-grou{
    background-color: #363535;
    border-radius: 5px;
}

.butto{
  width: 39px;
  height: 25px;
    display: flex;
    align-items: right;
}

.botao{
    color: #fff;
    background-color: red;
    width: 80px;
    height: 50px;
    font-size: 30px;
    border-radius: 9px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    display: flex;
    flex-direction: column;
 
}

body{
    background:linear-gradient(90deg,#554dca,#7e22ce);
}



